.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 15px;
  font-weight: bolder;
  text-transform: uppercase;
  background: #000;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    background: #fff;
    color: #000;
    border: 1px solid #000;
  }

  &.google-sign-in {
    background-color: #4285f4;
    color: #fff;
    border: none;

    &:hover {
      background-color: darken(#4285f4, 10);
    }
  }
}
